/* Footer
-------------------------------------------------------------- */
#footer {
	clear:both;
	overflow: hidden;
	margin-top: 18px;
}
#site-infos {
	float:right;
}
a#site_by {
	background: url(/images/gko-core/logo_gecko_white.png) no-repeat scroll 0 1px transparent;
	padding-left: 24px;
	font-size:.6em;
}