$greenLight:#91d74f;
$greenMedium:#ad986b;
$greyMedium:#CDCCCA;
$greyDark:#7B7A78;

$containerMaxWidth: 0;

$pdfIcon: 'gko/icon_pdf_white_x110.png';



/*-----------------------------------------
 IMPORT
----------------------------------------- */
@import "variables";
$FontAwesomePath: "fontawesome.3.2.1";
@import "twitter.bootstrap.2.2.1/bootstrap-awesome";
@import "gko/public/base";
@import "galleria";

// --------------------------------------------------
// BASE STYLES
// --------------------------------------------------
.btn {
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  	color: $white;
}
// Hover state
.btn:hover {
  color: $white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	background-color: $greenMedium;
}

.next-previous {
	display:none;
}
.tags-list {
	display: block;
	span {
		@include border-radius(6px);
		display: inline;
		position: relative;
		margin-bottom: 8px;
		padding: 4px;
		background: $greenMedium;
		color: white;
		font-family: $altFontFamily;
		font-size: 11px;
		font-style: italic;
		font-weight: normal;
		white-space: nowrap;
		&.tag {
			strong {
				color: black;
				font-style: normal;
			}
		}
	}
}
li > .realty-promo {
	background: transparent asset-url("promo_en.png", image) no-repeat scroll right top;
	position:absolute;
	top:10px;
	right:10px;
	width: 146px;
	height: 102px;
}

.carousel-control {
	background: transparent asset-url("classic-map.png", image) no-repeat 0 0;
	@include circle(87px);
	@include hide-text();
	border: none;
	&.right {
		right: 8px;
		background-position: -87px 0;
	}
}
.carousel .btn.inline {
	position: absolute;
	right: 8px;
	bottom: 4px;
	z-index: 2;
}
/*-----------------------------------------
 STRUCTURAL LAYOUT
----------------------------------------- */
// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: $grayLight;
}
.row-fluid {
	max-width: 980px;
	@include center-block;
}

body#annual_rental,
body#sale_property,
body#rental_property {
	#main-container {
		position: relative;

		.tags-list {
			span {
				clear: both;
				float: left;
				display: block;
				margin-bottom: 8px;
				padding: 4px;
			}
		}
	}
}

/*-----------------------------------------
 TYPOGRAPHY
----------------------------------------- */
h1.page-title {
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*-----------------------------------------
 HEADER
----------------------------------------- */


.navbar {
  border-top: 6px solid $greenMedium;
	.row-fluid {
	  position: relative;
	}

	.brand {
		a {
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") center center no-repeat;
			background-size: contain;
			cursor: pointer;
			text-decoration: none;
			display: block;
			width: 256px;
			height: 80px;
			@include hide-text;
		}
	}

	.header-nav {
		position:relative;
	}

	.nav-collapse {
		.nav > li > a {
			text-transform: uppercase;
			font-family: $altFontFamily;
			font-size: 12px;
			font-weight: normal;

		}
	}

	.header-top {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

    a {
      font-size: 18px;
      text-decoration: none;
  	  padding-top: 4px;
      float: right;
      padding-left: 4px;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
    #address {
	    padding-top: 4px;
      float: right;
      font-size: 11px;

      a {
        font-size: 11px;
        text-decoration: none;
    	  padding-top: 0;
        float: right;
        padding-left: 4px;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
    }
	}
	#locales-menu {
		background-color: $greenMedium;
		float: right;
		width: auto;
		margin-left: 20px;

		@include border-radius(0 0 6px 6px);
		.nav {
			font-size: 11px;
			margin: 0;
			padding: 0;
		}
		.nav > li >	a {
      font-size: 11px;
      color: $white;
      padding-top: 4px;
      padding-bottom: 4px;
      &:hover {
        color: $black;
        text-shadow: none;
			}
		}
	}
	.btn-navbar {
		text-shadow: none;
		@include button-background($greenMedium, darken($greenMedium, 10%));
		color: $white;
		&:hover {
			color: $black;
		};
	}
}
.navbar-inner {
	@include border-radius(0);
}


#thanks {
	display: none;
}
/*-----------------------------------------
 GRID
----------------------------------------- */
.grid > li {
	margin-bottom: $baseLineHeight * .5;
	position:relative;
	.thumbnail {
		border-width: 1px 0 0 0;
		border-top: 1px dashed #E0E0CF;
		padding-top: $baseLineHeight * .5;
		@include border-radius(0);
		@include box-shadow(none);
		.image {
			margin-right: 12px;
			float: left;
			background-color: transparent;
			border: 4px solid white;
			@include border-radius(0);
			@include box-shadow(rgba(0, 0, 0, 0.3) 0px 1px 4px);
		}
		.image > img {
			display: block;
			max-width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
		.caption {
			position:relative;
		}
		.title {
			text-transform: uppercase;
			font-size: 16px;
			font-style: normal;
			font-weight: normal;
			line-height: 20px;
			margin-bottom: 10px;
			a {
				color: $greenMedium;
				&:hover {
					color: $greyMedium;
				};
			}
		}
		.description {
			margin-top: $baseLineHeight * .5;
		}
		.links {
			font-style: italic;
			a, .btn {
				color: $greenMedium;
				text-shadow: none;
				border: none;
				background: none;
				&:hover {
					color: $black;
					text-decoration: underline;
				};
				&:first-child {
					padding-left: 0;
				};
			}
		}
	}
}
/*-----------------------------------------
 CONTENT
----------------------------------------- */
.well.realty-promo-text {
	background-color: $greenMedium;
	color: white;
}
#main-container h3 {
	font-weight: normal;
	font-style: italic;
	padding-top: 24px;
	padding-bottom: 24px;
	text-transform: uppercase;
}
ul.realty-seasons {
	display: block;
	li {
	 display: block;
		h4 {
			border-bottom: 1px dashed #E0E0CF;
			span {
				font-size: $baseFontSize;
			}
		}
	}
}
ul.realty-rates {
	display: block;
	li {
		display: block;
	}
	span.realty-rates-price {
		margin-left: 20px;
		border-bottom: 1px dashed #E0E0CF;
	}
}
/*
.sale_property .tags-list,
.rental_property .tags-list {
	@include clearfix;
	span {
		clear: both;
		float: left;
		display: block;
		margin-bottom: 8px;
		padding: 4px;
		border-left: 1px dotted $greyDark;
	}
}
.sale_property .tags,
.rental_property .tags {
	clear:both;
	border-left: 1px dotted $greyDark;
}
*/
.sale_property.body,
.sale_property.details,
.sale_property.rates,
.rental_property.body,
.rental_property.details,
.rental_property.rates {
	padding-top: $baseLineHeight;
	padding-bottom: $baseLineHeight;
}
.sale_property.rates,
.rental_property.rates {
	background-color: white;
}
.sale_property.inquiry,
.rental_property.inquiry {
	background-color: $greenMedium;
	color: white;
	padding-top: $baseLineHeight;
	label {
		color: white;
	}
}

/*-----------------------------------------
 SIDEBAR
----------------------------------------- */
.partial {
	h4 {
		line-height: $baseLineHeight;
		text-transform: uppercase;
		font-size: $baseFontSize;
		font-style: italic;
		font-weight: normal;
		margin-top: $baseLineHeight * .5;
		margin-bottom: $baseLineHeight * .5;
		border-top: 1px dashed #E0E0CF;
		border-bottom: 1px dashed #E0E0CF;
	}
	.grid > li {
		.thumbnail {
			border: none;
			.title {
				text-transform: none;
				line-height: $baseLineHeight;
				font-size: $baseFontSize;
				font-style: italic;
				font-weight: bold;
				text-align: center;
			}
			.caption {
				padding: 0;
			}
		}
	}
	select {
		margin-bottom: 0;
	}
}

/*-----------------------------------------
 HOME
----------------------------------------- */
#home-features {
	padding-bottom: 36px;
}
#home {
	h3 {
		padding-bottom: 0;
	}
}

#home .grid > li {
	.thumbnail {
		.image {
			float: none;
			margin-bottom: 12px;
		}
		.caption {
			clear: both;
		}
	}

	.tags-list {
		span {
			display: block;
			clear: both;
		}

	}
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer-container {
  background-color: $black;
}
#footer {
	.nav > li > a {
		font-size: 10px;
		font-style: italic;
		font-family: $altFontFamily;
		text-transform: uppercase;
		&:first-child {
			margin-left: 0;
		};
	}
}
#copyright {
	text-align: center;
}
#site-by {
	font-size: 9px;
	float: none;
	padding: 9px 0 11px 0;
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */

@import "twitter.bootstrap.2.2.1/bootstrap-responsive";
@import "gko/default_responsive";

@media (max-width: 480px) {
	.grid > li {
		.tags-list {
			span {
				display: block;
				clear: both;
			}
		}
	}
}
@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.row-fluid {
		padding-left: 20px;
		padding-right: 20px;
		@include box-sizing(border-box);
	}
	body#annual_rental,
	body#sale_property,
	body#rental_property {
		#main-container {
			#sidebar {
				position:relative;
				top: auto;
				right: auto;
				width: 100%;
				float: none;
			    display: block;
			    padding: 0 20px;
				@include box-sizing(border-box);
			}
		}
	}
}

@media(max-width: 979px) {
	.grid > li {
		.caption {
			clear:both;
		}
	}
	.navbar {
		.brand {
			float: none;
			text-align: center;
			margin: $baseLineHeight 0 0 0;
		}
		.nav-collapse {
			.nav > li > a {
				text-align: center;
			}
		}
	}
}
@media(min-width: 980px) {
	.nav-collapse {
		float:right;
		margin-top: 72px;
		.nav {
		  margin: 0;
		}
		.nav > li > a {
		  padding-top: 0;
		  padding-bottom: 0;
		}
	}
	#site-by {
		float: right;
	}

}
