<h2 id="site-title" class="brand"><%= link_to(site.title, root_url) %></h2>
<address id="address">
  <%= "T. (+590) 590 29 07 66 <br/>".html_safe %>
  <%= mail_to(site.preferred_contact_email, site.preferred_contact_email, :encode => "javascript") %>
</address>